html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.principal{
    width: 83%;
    height: 90%;
    wi
}

.menu{
    height: 90%;
    
}

.footer{
    
    height: 8%;
    width: 99%;

}