div{
	height: 1080px;/*
	background-color: blue;*/
	background-image: url(img/fundo-site-azul-scaled.jpg);
	background-attachment: fixed;
}

table{
	/*height: 1080px;
	/*width: 320px;*/
}
.col2{
	width: .7%;
}
.col1{
	width: .13%;
}
.col3{
	width: .17%;
	height: 220px;
}