
body { margin:0; padding:0; font-family: arial; }


.row1 {
  max-width: 1024px;
  display: grid;
  grid-row-gap: 100px;
  grid-template-columns: auto auto auto auto;
  background-color: #d27f05c2;
  padding: 25px;
}

.column{
  border-radius: 10px;
  padding: 10px;
}

img{
	max-width: 100%;
	border-radius: 5%;
	cursor: pointer;
}

img:hover{
	transform: scale(1.3);
}


label{
	padding: 8px;
    font-size: .9em;
    display: inline-block;
    width: 80%;
	cursor: pointer;
}

.texto{
	background-color: #efeeeee8;
	border-radius: 10px;
}

.texto:hover{
	transform: scale(1.3);
}


@media screen and (max-width: 1024px) {
  .row1{
	grid-template-columns: auto auto auto auto;
  }
  
  
  @media screen and (min-width: 1024px) {
  .row1{
	grid-template-columns: auto auto auto auto;
  }