#titulo{
    text-align: center;
}

#Elementos-HTML{
    text-align: center;
}
.elementos{
    width: 50%;
    margin-left: 100px;
    text-align: justify;
}

p{
    text-align: justify;
}