#a{
	height: 200px;
	background-color: lightblue;
}
#b{
	height: 500px;
	width: 800px;
	margin-left: 25%;
	background-color: yellow;
}
#c{
	height: 100px;
	background-color: lightgreen;
}
.a{
	height: 820px;
	width: 1440px;
}